body {
	background: #fff;
	font-family: Raleway, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
}

.page-header, .hero {
	background: #00bdf4;
	border-bottom: 0;
}

/* __ nav __ */
.logged_in .hero-unit {
	display: none;
}

.navbar {
	background: #fff;
	border-bottom: 1px solid #eee;
}
.navbar.navbar-default .navbar-nav > .active > a {
	background: #00bdf4;
}
.navbar .nav > li > a {
	background: none;
	border-right: 0;
}
.navbar-default .navbar-nav > li > a {
	color: inherit;
}
.navbar .nav > li:first-child > a {
	border-left: 0;
}
.navbar.navbar-default .navbar-nav > .active > a,
.navbar.navbar-default .navbar-nav a:hover {
	background: none;
	color: inherit;
}
.navbar .nav .dropdown-menu > li > a:hover, .navbar .nav .dropdown-menu > li > a:focus, .navbar .nav .dropdown-submenu:hover > a, .navbar .nav .dropdown-submenu:focus > a {
	background: #f6f6f6;
	color: inherit;
}
.navbar .ask-btn {
	background: inherit;
	color: inherit;
	border: 0;
}

.navbar .nav-userbox .dropdown-toggle, .navbar .nav-userbox .profile {
	background: none;
	color: inherit;
	border: 0;
}
.navbar .nav-userbox .dropdown-toggle:hover, .navbar .nav-userbox .dropdown-toggle:focus, .navbar .nav-userbox .profile:hover, .navbar .nav-userbox .profile:focus {
	background: #f9f9f9;
	border: 0;
}
.navbar .nav-userbox > li .user-buttons {
	font-weight: inherit;
}
.navbar .nav-userbox > li .user-buttons:hover {
	background: #eee;
	color: inherit;
}

.main-menu {
	float: right;
}

.dl-menuwrapper button:after {
	background: none repeat scroll 0 0 #ccc;
	box-shadow: 0 10px 0 #ccc, 0 20px 0 #ccc;
}
.dl-menuwrapper .dl-menu-btn {
	background: none;
}

.qa-nav-user {
	margin: 10px 0 0;
	float: none;
	clear: none;
}

/* _________________ */
#user-search {
	margin: 0 0 30px 0;
	position: relative;
}
	#user-search .q {
		font-size: 2em;
		padding: 10px;
		height: auto;
	}
	#user-search .btn-primary {
		font-size: 1.5em;
		margin: 11px 12px 0 0;
		position: absolute;
		right: 0px;
		top: 1px;
	}

/* _________________ */
/* notifications */
.navbar .nav .notifications a:hover {
	background: inherit;
}
.qa-np-pluginlink {
	display: none;
}
#qa-np-nc-window, #qa-np-msg-window {
	left: -340px;
}
#qa-np-nc-window #qa-np-nc-window-tip, #qa-np-msg-window #qa-np-msg-window-tip {
	right: 0;
}
#qa-np-nc-window-content .ico {
	display: inline-block;
	width: 48px;
	height: 24px;
	float: left;
}
.qa-np-nc-block, .qa-np-msg-block {
	font-size: inherit;
}
/* _________________ */
.widget-title {
	background: #fcfcfc;
	font-weight: 400;
	font-size: 15px;
}
.widget {
	border-radius: 0;
}
.widget.events {
	border: 1px solid #ddd;
	background: none;
}
.ra-events .event-inner .event-content h4 {
	font-weight: inherit;
}
.activity-count {
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 2px 2px 0 #eee;
	margin-bottom: 30px;
	padding: 15px;
}
	.activity-count li {
		color: #888;
	}
	.activity-count li:before {
		background: #00BDF4;
	}
	.activity-count li a {
		display: inline-block;
		padding: 0;
	}

.widget a.title {
	font-size: inherit;
	border: 0;
	color: inherit;
	text-transform: inherit;
}

.ask-block input[type="submit"] {
	font-size: 1.5em;
	line-height: 1.3em;
}
/* _________________ */
.list-item .list-title {
	font-size: 18px;
	font-family: Raleway;
	line-height: 1.3;
}
	.qa-q-closed .list-title {
		text-decoration: line-through;
	}

.list-voting {
	background: none;
	color: #555;
}
.list-voting > .count {
	color: inherit;
	font-size: 18px;
	line-height: 18px;
}
	.list-voting > .count span {
		font-size: 12px;
		color: inherit;
	}


.list-item .list-counts .ans-count,
.list-item .list-counts .view-count {
	border: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 19px;
	color: #555;
}
.list-item .list-counts .ans-count span,
.list-item .list-counts .view-count span {
	font-size: 18px;
}
.list-item .list-counts .view-count {
	color: #bbb;
}
.list-voting.voted_up,
.list-voting.voted_up .vote-up,
.list-voting.voted_up .vote-down,
.list-voting.voted_down,
.list-voting.voted_up a,
.list-voting.voted_up .count {
	background: none;
	color: #555;
}

.list-voting.voted_down .count,
.list-voting.voted_down span {
	color: #555;
}

.list-voting.positive {
	background: none;
	color: inherit;
}
.list-voting.negative,
.list-voting.negative span {
	background: #fff;
	color: #FA4949;
}
.list-counts .ans-count.ans-1 {
	background: #2AB74B;
	color: #fff;
}

.list-voting a.vote-up,
.list-voting a.vote-down {
	color: #aaa;
}

/* _________________ */
.question-tips {
	background: #FFFBCC;
}
	.question-tips .widget-title {
		background: none;
		font-weight: bold;
	}
	.question-tips .red {
		color: #ff0000;
	}
.qa-related-qs {
	background: inherit;
	border: 1px solid #ddd;
}
.question .question-content .entry-content,
.answer-list .answer .ans-content .content-inner {
	line-height: 1.5;
	color: inherit;
}
.answer-list .answer .ans-content.selected {
	background: none;
}
.entry-content .scrip,
.ans-content .scrip {
	border: 1px solid #00BDF4;
	border-radius: 3px;
	font-size: 0.9em;
	padding: 1px 3px;
}
	.scrip span {
		font-size: .7em;
		display: inline-block;
		margin-left: 3px;
	}

#a_list .select-ans {
	margin: 15px;
}
.answer-list .answer .post-meta {
	text-align: right;
}
.answer-list .answer .a-head {
	border-bottom: 0;
	border-top: 1px solid #ddd;
	padding: 8px 12px;
}
.answer-list .answer .a-head .points {
	display: inline-block;
}
	.answer-list .answer .a-head .points .val {
		background: #7ECC4A;
	}
.answer-list .answer .ans-content .qa-a-item-buttons {
	border-top-color: #ddd;
}
	.answeredby {
		margin-top: 2px;
	}
	.answer-list .answer .avatar {
		margin-right: 5px;
	}
	.answer-list .answer .avatar .avatar-wrap {
		border-radius: 3px;
	}
.qa-a-item-who-points-pad {
	display: none;
}

.form-group.notify {
	display: none;
}
.form-group.a_notify {
	visibility: hidden;
}
.answer-citation {
	font-size: 12px;
	margin: 20px;
}
.boxed-notices {
	background: #FFFBCC;
	margin: 30px;
	padding: 30px;

	list-style-type: none;
}
	.boxed-notices li {
		margin-bottom: 10px;
	}
	.boxed-notices .title {
		display: inline-block;
	}
	.boxed-notices .title.red {
		color: #ff0000;
	}

.comment-form .qa-form-tall .form-group:nth-child(2) {
	dvisibility: hidden;
}
.comments .comment-item .avatar {
	padding-left: 30px;
	padding-top: 0;
	margin: -2px 7px 0 0;
}
.comments .comment-meta-who-points-pad {
	display: none;
}
.comments .comment-item .comment-title,
.post-meta > div a {
	font-weight: inherit;
	font-size: 11px;
}
.comments .comment-item:nth-child(2n+1) {
	background: #fcfcfc;
}
.comments .asker-meta,
.comments .update-meta {
	clear: both;
	text-align: right;
	margin-top: 10px;
	line-height: 1.1;
}
.comments .comment-title {
	visibility: hidden;
	display: none;
}
.comments .comment, .comments .link-to {
	color: inherit;
}
.comments .comment-item .entry-content {
	line-height: 1.5;
	color: inherit;
}
/* _________________ */
.question .q-head .avatar.pull-left {
	margin-top: 6px;
	overflow: hidden;
}
	.question.qa-q-view .avatar .avatar-wrap {
		border-radius: 3px;
	}
.list-tags .label {
	display: none;
}
	.list-item .tags ul .qa-tag-link {
		font-size: 11px;
		border: 1px solid #ccc;
		background: #fcfcfc;
		color: #666;
	}
	.list-item .tags ul .qa-tag-link:hover {
		background: #666;
		color: #fff;
		border-color: #666;
	}
.asker-meta .qa-q-item-what {
	display: none;
}
.list-meta {
	clear: both;
}
.list-meta .post-meta {
	float: right;
}
	.list-meta .post-meta a {
		font-weight: inherit;
	}
.qa-q-item-who-points-pad {
	display: none;
}

/* status labels */
.q-status {
	margin: 1px 0 0 15px;
}
.post-status {
	border: 0;
	margin: 0;
}
.post-status.open {
	color: #3EC9EC;
	border: 1px solid #3EC9EC;
	background: none;
}
.post-status.selected {
	color: #7ECC4A;
	border: 1px solid #7ECC4A;
	background: none;
}
.post-status.duplicate {
	color: #EE9200;
	border: 1px solid #EE9200;
	background: none;
}
.post-status.closed {
	color: #FF5050;
	border: 1px solid #FF5050;
	background: none;
}

/* _________________ */
.question .q-title {
	font-family: inherit;
	line-height: 1.4;
}

#similar {
	color: #FF0000;
	display: block;
	font-weight: bold;
	margin: 0 0 0 15px;
}
	#similar a {
		font-weight: 400;
	}
	#similar a:before {
		content: "— ";
	}
/* _________________ */

#mastfooter,
#bottom .about-us p {
	color: #ddd;
}
.qa-nav-footer-list li {
	margin-right: 15px;
}
#bottom a {
	color: #00BDF4;
}
	#bottom a:hover {
		color: #fff;
	}
/* _________________ */

td.badge-entry {
	border-bottom: 1px dotted #ddd;
	padding: 8px 0 8px 30px;
}
.container.qa-part-custom2 tr {
	margin-bottom: 10px;
}

.badge-bronze,
.badge-silver,
.badge-gold {
	font-weight: inherit;
	line-height: 1;
	width: auto;
	border: 0;
	padding: 3px 6px;
}
.badge-bronze,
.badge-user-block .user-badge.bronze {
	background: #D87645;
	color: #fff;
}
.badge-silver,
.badge-user-block .user-badge.silver {
	background: #ddd;
	color: #777;
}
.badge-gold,
.badge-user-block .user-badge.gold {
	background: #FFE100;
	color: #B77A00;
}
.badge-entry-desc {
	width: 65%;
	float: right;
}
.badge-widget-entry {
	clear: both;
	border-bottom: 1px dotted #ddd;
	margin-bottom: 8px;
	padding-bottom: 8px;
	overflow: hidden;
}
	.badge-widget-entry .meta {
		width: 65%;
	}
	.badge-widget-entry .date {
		font-size: 11px;
	}

/* _________________ */

#user .user-top .avatar {
	overflow: hidden;
}

.page-users-list .user img {
	display: inline-block;
	margin-right: 15px;
}

/* ____ expert badge */
.user-type-badge {
	background: #444;
	display: inline-block;
	padding: 0px 6px;
	border-radius: 3px;
	color: #fff;
	border: 1px solid #fff;
}

.user-popover {
	position: relative;
}
	.user-popover .user-type-badge {
		position: absolute;
		top: 15px;
		right: 15px;
	}

.answeredby .user-type-badge {
	background: inherit;
	font-size: .9em;
	line-height: 1.3em;
	border: 1px solid #aaa;
	padding: 0 3px;
	color: inherit;
	margin-left: 5px;
}

/* _________________ */

#qa_captcha_div_1 {
	overflow: hidden;
	height: 130px;
}

/* _________________ */

h1, h2, h3, h4,
.hero-unit h1 {
	font-weight: 300;
}
.hero-unit h1 {
	line-height: 1.3;
	margin-bottom: 30px;
}
.hero-unit p {
	font-family: Raleway;
}
a {
	color: #00bdf4;
}
	a:hover {
		color: #333;
	}

blockquote {
	background: #f8f8f8;
	margin: 15px;
	padding: 15px;
	border: 0;
}
blockquote p {
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
}

pre {
	font-family: 'Courier New', monospace;
	background: #f8f8f8;
	border: 0;
	padding: 15px;
	margin: 15px;
	color: #732093;
	font-size: inherit;
	white-space: pre;
	overflow: auto;
	max-height: 500px;
}

/* _________________ */
@media all and (max-width: 1195px) and (min-width: 1000px) {
	.page-header {
		margin-top: 75px;
	}
}

.cke_editable code {
	font-family: 'Couriner New', mono;
	background: #f6f6f6;
	padding: 5px;
}