/* ******************************************************************************************************** */
/* Sticky footer																					*/
/* ******************************************************************************************************** */

html {
  	position: relative;
 	 min-height: 100%;
	}

.container {
  width: 90%;
}

body {
  	/* Margin bottom by footer height */
  	margin-bottom: 140px;
	}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 140px;
	}

/* ******************************************************************************************************** */
/* Add the top border																						*/
/* ******************************************************************************************************** */

.top-border {
	margin-top: 2px;
	border-top: 1px solid #E8E8E8;
	}


/* ******************************************************************************************************** */
/* User Block Threads page																					*/
/* ******************************************************************************************************** */

.userblock{
	border-right: 1px solid #E8E8E8;
	}

/* ******************************************************************************************************** */
/* Forum icons																								*/
/* ******************************************************************************************************** */

div.show-forum-icon img {
	height:48px;
	width: 48px;
	}

.forumLightLinks{
	display:none;
	}

/* ******************************************************************************************************** */
/* Printing page fix																								*/
/* ******************************************************************************************************** */

@media print {
  a[href]:after {
    content: none;
  }
}
