.dataTables_length {
  margin-top: 8px;
  margin-left: 5px;
}

.dataTables_filter {
  margin-top: 6px;
  margin-right: 5px;
}

.dataTables_info {
  margin-left: 5px;
}

.dataTables_paginate {
  margin-bottom: 4px;
  margin-right: 5px;
}
