/*
 * eeBotstrap.css
 * http://www.eeBootstrap.com
 *
 *
 *
 * Copyright (c) 2014 eeBootstrap
 */

/* ******************************************************************************************************** */
/* Video Responsive									 														*/
/* ******************************************************************************************************** */  

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ******************************************************************************************************** */
/* Col 100% height	in Threads Row																						*/
/* ******************************************************************************************************** */  

.row.thread-row {
    overflow: hidden;
}

.row.thread-row >[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.panel-body.thread-row {
	padding-top:0px; 
   	padding-bottom:0px;
}

/* ******************************************************************************************************** */
/* Attached thumbnails in post																				*/
/* ******************************************************************************************************** */  

.attach-thumb{
	margin-right: 5px;
	}
 
/* ******************************************************************************************************** */
/* Remove the top border on table																			*/
/* ******************************************************************************************************** */  
 
.table > tbody > tr > td.no-top-border{
    border-top: 0px solid #000000;
	}

/* ******************************************************************************************************** */
/* Limit the resizing of textarea field only Vertical 														*/
/* ******************************************************************************************************** */  
 
textarea { resize:vertical; }

/* ******************************************************************************************************** */
/* Manage the Member Profile Menu collapsed (Off Canvas)													*/
/* ******************************************************************************************************** */  

@media screen and (max-width: 762px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -66%;
  }

  .row-offcanvas-left.active {
    left: 66%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 66%;
    margin-left: 10px;
    }
}

@media screen and (max-width: 992px) {
	
	.text-truncated{
		max-width: 350px;
		overflow: hidden;
 		text-overflow: ellipsis;
  		white-space: nowrap;
	}
}

.title-truncated{
		max-width: 150px;
		overflow: hidden;
 		text-overflow: ellipsis;
  		white-space: nowrap;
	}


/* ******************************************************************************************************** */
/* Panel 																								*/
/* ******************************************************************************************************** */  

.panel-default > a,  .panel-default > a:hover, .panel-default > a:active, .panel-default > a:focus {
	text-decoration: none;
}

/* ******************************************************************************************************** */
/* Panel Poll																								*/
/* ******************************************************************************************************** */  

.panel-body-poll:not(.two-col) { padding:0px }
.panel-body-poll .radio,.panel-body .checkbox {margin-top: 0px; margin-bottom: 0px;}
.panel-body-poll .list-group {margin-bottom: 0; border-radius: 0;}
.margin-bottom-none { margin-bottom: 0; }
.panel-body-poll .radio label,.panel-body-poll .checkbox label { display:block; }
.panel-body-poll .list-group-item:first-child {border-top: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px;}
.panel-body-poll .list-group-item:last-child {border-bottom: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px;}
.panel-body-poll .list-group-item {border-left: 0px; border-right: 0px}  

/* ******************************************************************************************************** */
/* Blockquote																								*/
/* ******************************************************************************************************** */  

blockquote {
    font-size: 13.5px;   
}

/* ******************************************************************************************************** */
/* Remove background color and border 																		*/
/* ******************************************************************************************************** */  

.no-background {
	background:none;
	border: none;
}


/* ******************************************************************************************************** */
/* html_formatting_buttons 																											 */  
/* ******************************************************************************************************** */  

.htmlButtonInner, .htmlButtonOff{
	float:left;	
}

/* ******************************************************************************************************** */
/* Removing The Dotted Outline																				*/  
/* ******************************************************************************************************** */  

a a:hover, a:active, a:focus  {
   outline: 0;
}

/* ******************************************************************************************************** */
/* Signature																								*/  
/* ******************************************************************************************************** */  

.signature {
	font-size: 80%;
}

/* ******************************************************************************************************** */
/* Code																										*/  
/* ******************************************************************************************************** */  

pre {
 	white-space: pre-wrap;       /* css-3 */
 	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 	white-space: -pre-wrap;      /* Opera 4-6 */
 	white-space: -o-pre-wrap;    /* Opera 7 */
 	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


/* ******************************************************************************************************** */
/* 																										*/  
/* ******************************************************************************************************** */  

.push_bottom_5 {
	margin-top: 7px !important;
}

/************************************************************************************************************
	Back to top
*************************************************************************************************************/

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 25px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
	}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
	}


